/***** Generales *****/
html {
  font-family: "Manrope", sans-serif;
  height: 100%;
}
p,
i,
img {
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
a {
  text-decoration: none !important;
  color: white;
}
/***** Mobile *****/
/*** Grid para display de productos versión mobile ***/
.main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "navbar"
    "search"
    "producto"
    "menu_nav"
    "footer";
}
/*** Navbar ***/
.navbar {
  grid-area: navbar;
  height: auto;
  background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar i:hover {
  cursor: pointer;
}
.logo img {
  width: 80px;
  height: auto;
}
/*** Search ***/
.search {
  grid-area: search;
  height: auto;
  background-color: rgba(183, 111, 126, 0.9);
}
.search p {
  font-size: 18px;
}
.dropdown {
  padding: 0.4rem 1rem 0.4rem 1rem;
  background-color: white;
  width: 400px;
  border-radius: 0.2rem;
}
.dropdown .btn {
  width: 100%;
  padding: 0;
  background-color: white;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown .btn:hover {
  background-color: white;
}
.dropdown p, .dropdown .btn span {
  font-size: 16px;
}
.dropdown i:hover {
  cursor: pointer;
}

/*** Aside ***/
.aside {
  background-color: red;
  display: none !important;
  width: 0 !important;
}
/*** Contenedor de productos ***/
.producto {
  grid-area: producto;
  padding: 1rem 0 1rem 0;
  background-color: lightgrey;
}
/*** Mockup de navegación ***/
.menu_nav {
  grid-area: menu_nav;
  background-color: rgba(0, 0, 0, 0.9);
}
.page_nav {
  border: 2px solid white;
  max-width: 200px;
}
.page_nav div {
  border-right: 2px solid white;
  width: 200px;
}
.page_nav div:last-of-type {
  border: none;
}
.page_nav:hover {
  cursor: pointer;
}
.page_nav p {
  font-size: 18px;
  color: white;
}
/*** Cards Container ***/
.cards-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  padding: 2rem 1rem;
  justify-items: center;
  align-items: center;
}
.cards-container > *:nth-child(n + 2) {
  display: none;
}
.card {
  align-items: center;
  width: 350px;
  height: 400px;
  border: none;
}
.card img {
  width: 220px;
  height: 200px;
}
.card .btn {
  background-color: #b76f7e;
  border: none;
  padding: 0.3rem;
  width: auto;
}
/*** Footer ***/
.footer {
  grid-area: footer;
  height: auto;
  background-color: rgba(200, 0, 0, 0.6);
}
.footer i:hover {
  cursor: pointer;
}
/***** Media Queries *****/
/*** Tablet ***/
@media only screen and (min-width: 576px) and (max-width: 991px) {
  /*** Cards container ***/
  main {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80% !important;
    grid-template-areas:
      "aside aside aside aside"
      "search producto producto producto"
      "search menu_nav menu_nav menu_nav"
      "footer footer footer footer" !important;
  }
  .navbar {
    grid-area: none;
    display: none !important;
  }
  .aside {
    grid-area: aside;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    padding: 0.2rem;
    align-items: center;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    height: auto;
    gap: 5rem;
  }
  .texto_aside {
    flex-direction: row !important;
    font-size: 15px;
    gap: 0;
    text-align: center;
  }
  .aside ul {
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  .aside li {
    padding: 0.5rem;
    font-weight: bold;
  }
  .aside img {
    width: 80px !important;
  }
  .search {
    height: 100%;
    flex-direction: column;
    align-items: center !important;
    justify-content: flex-start !important;
    padding-top: 3rem;
    background-color: rgba(183, 111, 126, 0.9);
  }
  .dropdown {
    padding: 0.4rem 1rem 0.4rem 1rem;
    background-color: white;
    width: auto;
    min-width: 80px;
    border-radius: 0.2rem;
  }
  .dropdown p {
    font-size: 12px !important;
  }
  .cards-container {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    overflow: hidden;
    padding: 4rem 1rem;
    justify-items: center;
    align-items: center;
  }
  .cards-container > *:nth-child(n + 2) {
    display: flex !important;
  }
  .cards-container > *:nth-child(n + 3) {
    display: none !important;
  }
  .card {
    width: 70%;
    height: auto;
    padding: 0.3rem !important;
    justify-content: center;
    align-items: center !important;
  }
  .card img {
    min-width: 50px;
    width: 80%;
    height: auto;
    max-height: 200px;
    padding: 20px 0 10px 0 !important;
  }
  .card-body {
    gap: 0;
    padding: 0 !important;
  }
  .footer {
    background-color: rgba(200, 0, 0, 0.6);
  }
}
/*** Desktop ***/
@media only screen and (min-width: 992px) {
  /*** Grid para display de productos versión desktop ***/
  main {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80% !important;
    grid-template-areas:
      "aside search search search"
      "aside producto producto producto"
      "aside producto producto producto"
      "footer menu_nav menu_nav menu_nav" !important;
  }
  /*** Navbar ***/
  .navbar {
    grid-area: none;
    display: none !important;
  }
  /*** Aside ***/
  .aside {
    grid-area: aside;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start;
    padding-top: 2rem;
    align-items: center;
    width: 100% !important;
    height: auto;
    gap: 1rem;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .texto_aside {
    flex-direction: column !important;
    font-size: 28px;
    gap: 1rem;
    text-align: center;
  }
  .aside ul {
    color: white;
    text-align: center;
    text-decoration: none;
  }
  .aside li {
    padding: 0.5rem;
    font-weight: bold;
  }
  .aside img {
    width: 130px !important;
  }
  .producto {
    height: 100%;
    padding: 0.4rem;
    gap: 1.5rem;
  }
  /*** Cards container ***/
  .producto {
    height: 100%;
    overflow-y: scroll;
  }
  .cards-container {
    display: grid;
    overflow:scroll;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: stretch;
    column-gap: 1rem;
    gap: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
  }
  .cards-container > *:nth-child(n + 2) {
    display: flex;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0.3rem !important;
    justify-content: center;
    align-items: center !important;
  }
  .card img {
    min-width: 50px;
    width: 80%;
    height: auto;
    max-height: 200px;
    padding: 20px 0 10px 0 !important;
  }
  .card-body {
    flex: 1;
    gap: 0;
    padding: 0 !important;
  }
  /*** Search ***/
  .search {
    height: 100% !important;
    gap: 0 !important;
    padding-top: 0.5rem;
    background-color: rgba(183, 111, 126, 0.9);
  }
  .dropdown {
    margin-bottom: 1rem;
  }
  /*** Footer ***/
  .footer {
    height: auto !important;
    padding: 1rem !important;
    gap: 0.5rem !important;
    text-align: center;
    background-color: rgba(200, 0, 0, 0.6);
  }
}
